Q1. Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a
file named test.txt.

In [1]:
test1 = 'This is a test of the emergency text system'

In [3]:
f = open('test.txt', 'w+')
f.write(test1)
f.close()

Q2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1
and test 2?

In [4]:
f = open('test.txt', 'r+')
test2 = f.read()
f.close()

In [5]:
test1

'This is a test of the emergency text system'

In [7]:
test2   # both are same

'This is a test of the emergency text system'

Q3. Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [12]:
import csv

data =[ ['title','author','year'],
    ['The Weirdstone of Brisingamen','Alan Garner',1960],
    ['Perdido Street Station','China Miéville',2000],
    ['Thud!','Terry Pratchett',2005],
    ['The Spellman Files','Lisa Lutz',2007],
    ['Small Gods','Terry Pratchett',1992]]

with open('books.csv', 'w+', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(data)

Q4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with
these fields: title (text), author (text), and year (integer).

In [83]:
import sqlite3

conn = sqlite3.connect('books.db')

cursor = conn.cursor()

cursor.execute('CREATE TABLE book (title VARCHAR(20), author VARCHAR(20), year INT(4))')

conn.commit()

Q5. Read books.csv and insert its data into the book table.

In [84]:
with open("books.csv","r") as file:
    books = csv.DictReader(file)
    for book in books:
        cursor.execute("INSERT INTO book VALUES (?,?,?)",(book['title'],book['author'],book['year']))
conn.commit()

In [75]:
#  Another possible solution
import pandas as pd

read_books = pd.read_csv('books.csv',encoding='unicode_escape')
read_books.to_sql('book', conn, if_exists='append', index = False)

5

Q6. Select and print the title column from the book table in alphabetical order.

In [90]:
cursor.execute('SELECT title FROM book ORDER BY title ASC')
print(cursor.fetchall())

[('Perdido Street Station',), ('Small Gods',), ('The Spellman Files',), ('The Weirdstone of Brisingamen',), ('Thud!',)]

Q7. From the book table, select and print all columns in the order of publication.

In [101]:
books = cursor.execute('SELECT * FROM book ORDER BY title ASC')
for book in books:
    print(book[0])

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

Q8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in
exercise 6.

In [103]:
import sqlalchemy

conn = sqlalchemy.create_engine('sqlite:///books.db')

In [104]:
conn

Engine(sqlite:///books.db)

Q9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a
Redis hash called test with the fields count (1) and name (&#39;Fester Bestertester&#39;). Print all the fields for
test.

In [105]:
! python -m pip install redis

Collecting redis
  Downloading redis-4.3.4-py3-none-any.whl (246 kB)
Collecting async-timeout>=4.0.2
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Requirement already satisfied: packaging>=20.4 in c:\users\abhij\anaconda3\lib\site-packages (from redis) (21.3)
Collecting deprecated>=1.2.3
  Downloading Deprecated-1.2.13-py2.py3-none-any.whl (9.6 kB)
Requirement already satisfied: wrapt<2,>=1.10 in c:\users\abhij\anaconda3\lib\site-packages (from deprecated>=1.2.3->redis) (1.12.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\abhij\anaconda3\lib\site-packages (from packaging>=20.4->redis) (3.0.4)
Installing collected packages: deprecated, async-timeout, redis
  Attempting uninstall: async-timeout
    Found existing installation: async-timeout 4.0.1
    Uninstalling async-timeout-4.0.1:
      Successfully uninstalled async-timeout-4.0.1
Successfully installed async-timeout-4.0.2 deprecated-1.2.13 redis-4.3.4

In [ ]:
import redis
conn = redis.Redis()
conn.hset('test',{
    'count':1,
    'name':'Fester Bestertester'
})
conn.hgetall('test')

Q10. Increment the count field of test and print it.

In [ ]:
conn.hincrby('test', 'count', 1)
conn.hget('test', 'count')