Q1. Create a list called years_list, starting with the year of your birth, and each year thereafter until
the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list =
[1980, 1981, 1982, 1983, 1984, 1985].

In [23]:
years_list = [2002 + year for year in range(5)]

In [24]:
years_list

[2002, 2003, 2004, 2005, 2006]

Q2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your
first year.

In [25]:
years_list[2]

2004

Q3.In the years list, which year were you the oldest?

In [26]:
years_list[-1]

2006

Q4. Make a list called things with these three strings as elements: &quot;mozzarella&quot;, &quot;cinderella&quot;,
&quot;salmonella&quot;.

In [110]:
things = ['mozzarella', 'cinderella', 'salmonella']

Q5. Capitalize the element in things that refers to a person and then print the list. Did it change the
element in the list?

In [111]:
things.insert(1, things[1].capitalize())
things.remove(things[1].lower())

In [112]:
things

['mozzarella', 'Cinderella', 'salmonella']

Q6. Make a surprise list with the elements &quot;Groucho,&quot; &quot;Chico,&quot; and &quot;Harpo.&quot;

In [113]:
surpriseList = ['Groucho', 'Chico', 'Harpo']

Q7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.

In [114]:
element = surpriseList[-1].lower()
element = element[::-1]
element = element.capitalize()

In [115]:
element

'Oprah'

In [102]:
surpriseList.pop()
surpriseList.append(element)

In [103]:
surpriseList

['Groucho', 'Chico', 'Oprah']

Q8. Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is
chien, cat is chat, and walrus is morse.

In [116]:
e2f = {'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

In [117]:
e2f

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

Q9. Write the French word for walrus in your three-word dictionary e2f.

In [118]:
e2f['walrus']

'morse'

Q10. Make a French-to-English dictionary called f2e from e2f. Use the items method.

In [125]:
f2e = {}

for wordPair in e2f.items():
        f2e[wordPair[1]] = wordPair[0]

In [126]:
f2e

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

Q11. Print the English version of the French word chien using f2e.

In [127]:
f2e['chien']

'dog'

Q12. Make and print a set of English words from the keys in e2f.

In [131]:
e2f.keys()

dict_keys(['dog', 'cat', 'walrus'])

Q13. Make a multilevel dictionary called life. Use these strings for the topmost keys: &#39;animals&#39;, &#39;plants&#39;,
and &#39;other&#39;. Make the &#39;animals&#39; key refer to another dictionary with the keys &#39;cats&#39;, &#39;octopi&#39;, and
&#39;emus&#39;. Make the &#39;cats&#39; key refer to a list of strings with the values &#39;Henri&#39;, &#39;Grumpy&#39;, and &#39;Lucy&#39;.
Make all the other keys refer to empty dictionaries.

In [132]:
life = {'animals':{'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi':{} , 'emus': {}}, 'plants': {}, 'others': {}}

Q14. Print the top-level keys of life.

In [134]:
for topLevelKeys in life.keys():
    print(topLevelKeys)

animals
plants
others

Q15. Print the keys for life[&#39;animals&#39;].

In [135]:
for secondLevelKeys in life['animals'].keys():
    print(secondLevelKeys)

cats
octopi
emus

Q16. Print the values for life[&#39;animals&#39;][&#39;cats&#39;]

In [138]:
for secondLevelValues in life['animals']['cats']:
    print(secondLevelValues)

Henri
Grumpy
Lucy